<div class="footer">
    <div class="container">

        <div class="le-wrap">
            <div class="inner-wrap">
                <a class="logo-wrap" href="#">
                    <img src="/images/AoroaLabs_logo_f.svg" alt="아로아랩스">
                </a>
                <p class="txt pc">Aoroa Co.,Ltd. All Rights Reserved.</p>
            </div>
            <p class="txt info-txt pc">
                (주) 아로아랩스 <br>
                서울특별시 마포구 연남로 73-3 아로아랩스 <br>
                사업자 등록번호: 284-86-01917 | 대표: 김재헌
            </p>
        </div>

        <div class="ri-wrap">
            <a class="link-txt" href="/faq.html">FAQ</a>
            <a class="link-txt policy-view-btn" href="/policy.html">서비스 이용약관</a>
            <a class="link-txt policy-view-btn" href="/privacy.html">개인정보처리방침</a>
            <a class="link-txt policy-view-btn" href="/agreePolicy.html">광고성 정보 수신동의</a>
        </div>

        <p class="txt info-txt mb">
            (주) 아로아랩스 <br>
            서울특별시 마포구 연남로 73-3 아로아랩스 <br>
            사업자 등록번호: 284-86-01917 | 대표: 김재헌
        </p>

        <p class="txt mb">Aoroa Co.,Ltd. All Rights Reserved.</p>

    </div>
</div>



<!-- Modal 1 -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <img class="close" src="images/close-icon.png" alt="">
        <div class="scroll-wrap">
            <div class="contant">
                <div class="policy">
                    <div class="container">
                        <div class="policy-top">
                            <h2> 개인정보 처리 방침 </h2>
                            <div class="dropdown">

                                <button id="version" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle"
                                    data-target="menu1">
                                    2024. 05. 30.
                                </button>

                                <div class="dropdown-menu" aria-labelledby="version" id="menu1">

                                    <button class="dropdown-item">
                                        2024. 05. 30.
                                    </button>

                                </div>
                            </div>

                        </div>

                        <p class="txt heade">
                            주식회사 아로아랩스(이하 아로아랩스)는 관련 법령*에 따라 이용자분들의 개인(신용)정보(이하 개인정보)를 안전하게 처리하며 보호하고 있습니다.
                            <br>
                            *관련 법령 : 「개인정보보호법」, 「신용정보법」, 「전자금융거래법」, 「전자상거래법」, 「전자서명법」, 「정보통신망법」 등
                        </p>

                        <div class="list-nav">
                            <div class="policy-num-wrap">
                                <p class="circle-num">①</p>
                                <a href="#policy1" class="scroll-link">
                                    개인정보 수집과 이용
                                </a>
                            </div>
                            <div class="policy-num-wrap">
                                <p class="circle-num">②</p>
                                <a href="#policy2" class="scroll-link">
                                    제3자 제공 및 위탁 / 국외 이전
                                </a>
                            </div>
                            <div class="policy-num-wrap">
                                <p class="circle-num">③</p>
                                <a href="#policy3" class="scroll-link">
                                    보유기간 및 파기
                                </a>
                            </div>
                            <div class="policy-num-wrap">
                                <p class="circle-num">④</p>
                                <a href="#policy4" class="scroll-link">
                                    개인정보의 안전성 확보 조치
                                </a>
                            </div>
                            <div class="policy-num-wrap">
                                <p class="circle-num">⑤</p>
                                <a href="#policy5" class="scroll-link">
                                    정보주체와 법정대리인의 권리・의무 행사 방법
                                </a>
                            </div>
                            <div class="policy-num-wrap">
                                <p class="circle-num">⑥</p>
                                <a href="#policy6" class="scroll-link">
                                    개인정보 고충처리 및 문의 부서
                                </a>
                            </div>
                            <div class="policy-num-wrap">
                                <p class="circle-num">⑦</p>
                                <a href="#policy7" class="scroll-link">
                                    개인정보 처리 방침 시행일 및 변경 사항
                                </a>
                            </div>

                        </div>

                        <ul class="policy-list">

                            <li class="top" id="policy1">
                                <div class="spacer"></div>
                                <h3>① 개인정보 수집과 이용</h3>
                                <p>
                                    아로아랩스는 이용자의 동의를 받아 아로아랩스 서비스 이용에 반드시 필요한 최소한의 정보를 수집하고 있습니다. 서비스 이용을 위해 반드시 필요한 항목은
                                    필수 동의로, 그 외에는 선택
                                    동의로 나누어 동의를 받고
                                    있습니다. 아로아랩스는 수집한 항목을 목적 외의 용도로는 이용하고 있지 않으며, 처리 항목과 목적이 변경될 시 개인정보 처리 방침을 지속적으로
                                    업데이트하고 있습니다.
                                </p>
                                <p>
                                    아로아랩스에서 개인정보를 수집하여 처리하는 방법은 크게 5가지입니다.
                                </p>
                            </li>

                            <li>
                                <div class="row-group">
                                    <p class="title">개인정보 수집과 이용</p>
                                    <div class="content">
                                        <p class="mb48">
                                            아로아랩스는 이용자의 동의를 받아 아로아랩스 서비스 이용에 반드시 필요한 최소한의 정보를 수집하고 있습니다. 서비스 이용을 위해 반드시
                                            필요한 항목은 필수 동의로,
                                            그 외에는 선택 동의로 나누어 동의를 받고
                                            있습니다. 아로아랩스는 수집한 항목을 목적 외의 용도로는 이용하고 있지 않으며, 처리 항목과 목적이 변경될 시 개인정보 처리방침을
                                            지속적으로 업데이트하고 있습니다.
                                        </p>
                                        <p class="mb24">
                                            아로아랩스에서 개인정보를 수집하여 처리하는 방법은 크게 5가지입니다.
                                        </p>
                                        <div class="policy-num-wrap ml12">
                                            <p class="circle-num">1)</p>
                                            <p>아로아랩스 웹사이트 내에서 수집한 정보
                                                아로아랩스 웹사이트 내에서 개인정보를 수집하는 형태는 다음과 같습니다.</p>
                                        </div>
                                        <div class="policy-num-wrap ml24">
                                            <p class="circle-num">(1)</p>
                                            <p>
                                                이용자가 아로아랩스 서비스에 직접 입력한 정보
                                            </p>
                                        </div>
                                        <div class="policy-num-wrap ml24">
                                            <p class="circle-num">(2)</p>
                                            <p>
                                                이용자가 아로아랩스 웹사이트의 조회 서비스를 통해 조회한 정보
                                            </p>
                                        </div>

                                        <div class="box">
                                            <p>
                                                문의 서비스 이용 시에는 이름, 기업명, 직책, 연락처, 이메일, 문의사항이 처리됩니다.
                                                처리하는 목적은 다음과 같습니다.
                                            </p>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">•</p>
                                                <p>
                                                    본인확인, 회사명 확인, 직책 확인
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">•</p>
                                                <p>
                                                    민원처리, 분쟁 해결, 법령상 의무 이행을 위한 의사소통 경로 확보
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">•</p>
                                                <p>
                                                    서비스 관련 공지사항 전달, 고객만족도 조사
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">•</p>
                                                <p>
                                                    서비스 이용 현황 통계분석 및 활용
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">•</p>
                                                <p>
                                                    서비스 제공 대상자 선정
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">•</p>
                                                <p>
                                                    부정이용방지(금융 사기 방지, 이상거래 탐지를 효율적으로 관리하기 위한 목적,
                                                    부정 거래에 대한 조회/확인, 보이스피싱 관련 조회/확인, 리워드 중복 수령 방지 및 어뷰징 방지),
                                                    사고조사, 보안정책 수립
                                                </p>
                                            </div>
                                        </div>

                                        <div class="policy-num-wrap ml12">
                                            <p class="circle-num">2)</p>
                                            <p>
                                                상담 및 문의 처리 과정에서 수집한 정보
                                            </p>
                                        </div>
                                        <p class="ml12 mb12">
                                            유선 및 대면 상담하는 과정에서도 개인정보를 수집하고 있습니다.
                                        </p>
                                        <div class="policy-num-wrap ml12">
                                            <p class="circle-num">3)</p>
                                            <p>
                                                자동 생성으로 수집된 정보
                                            </p>
                                        </div>
                                        <p class="ml12">
                                            서비스 이용 과정이나 개인정보 처리 과정에서 해당 정보들이 자동으로 생성 및 수집될 수 있습니다.
                                        </p>
                                        <div class="box">
                                            <p>
                                                자동 생성 정보 용어 알아보기
                                            </p>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">•</p>
                                                <p>
                                                    행태정보 : 방문한 서비스 정보, 서비스 접속 시간 및 빈도,
                                                    서비스 이용 과정에서 생성된 또는 제공(입력)한 정보 등을 분석하여 이용자의 취향과 관심에 특화된 서비스(광고 포함)를
                                                    제공할 수 있습니다.
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">•</p>
                                                <p>
                                                    쿠키(Cookies) : 이용자가 웹사이트를 접속할 때 이용자의 PC에 저장하는 매우 작은 크기의 텍스트 파일입니다.
                                                    이용자가 웹사이트에 재방문할
                                                    경우, 웹서버는 이용자 PC에 저장된 쿠키의 내용을
                                                    읽고 서비스 이용
                                                    환경을 유지하여 편리한 인터넷 서비스 이용을 가능하도록 합니다.
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">•</p>
                                                <p>
                                                    IP 주소 : 인터넷에서 컴퓨터를 식별할 수 있는 인터넷 고유 주소를 의미합니다.
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">•</p>
                                                <p>
                                                    광고 식별자(ADID/IDFA 등): 모바일 단말기에서 부여되는 광고용 고유 식별 값을 의미합니다.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="policy-num-wrap ml12">
                                            <p class="circle-num">4)</p>
                                            <p>
                                                가명처리한 정보
                                            </p>
                                        </div>
                                        <p class="ml12">
                                            아로아랩스는 특정 개인을 알아볼 수 없도록 가명처리를 하여 통계작성, 과학적 연구, 공익적 기록보존 등의 목적으로 가명정보를 이용하고
                                            제공하기도 합니다. 접근통제를
                                            하여 가명정보를 안전하게 보관하고 있고, 보존기간이
                                            지난 후 파기하고 있습니다.
                                        </p>
                                    </div>




                                </div>
                            </li>

                            <!-- --- -->

                            <li class="top" id="policy2">
                                <div class="spacer"></div>
                                <h3>② 제3자 제공 및 위탁 / 국외 이전 </h3>
                                <p class="mb24">
                                    아로아랩스는 제휴사에게 개인정보를 제공하기도 하고, 개인정보 업무를 위탁하여 처리하기도 합니다. 개인정보 처리를 위한 제3자 제공과 위탁 목적 외에는
                                    개인정보를 제공하고 있지
                                    않으며, 제3자 제공과 위탁 처리 사항이
                                    변경될 시 개인정보 처리 방침을 지속적으로 업데이트할 예정입니다.
                                </p>
                            </li>
                            <li>
                                <div class="row-group">
                                    <p class="title">1) 제3자 제공</p>
                                    <div class="content">
                                        <p>
                                            아로아랩스는 제3자 제공 시 이용자의 동의를 얻어 제휴사에게 필요 최소한의 범위로만 제공하고 있습니다.
                                        </p>
                                        <div class="box mb24">
                                            <p>
                                                제3자 제공이란? <br>
                                                제공받는 자의 업무 목적을 위해 제공되며,
                                                개인정보가 제공된 후에는 제3자에게 개인정보 관리권이 넘어가는 것을 의미합니다.
                                            </p>
                                        </div>

                                        <p>
                                            ※ 긴급상황*이 발생하는 경우에는 관련 법령에 따라 이용자의 동의 없이 관계 기관에 개인정보를 제공할 수 있습니다
                                        </p>
                                        <p class="mb24">
                                            *긴급상황 : 재난, 감염병, 급박한 생명・신체 위험을 초래하는 사건・사고, 급박한 재산 손실 등
                                        </p>
                                    </div>
                                </div>
                                <div class="row-group">
                                    <p class="title">2) 위탁 </p>
                                    <div class="content">
                                        <p>
                                            아로아랩스는 위탁 및 재위탁 계약 체결 시 수탁자가 개인정보를 안전하게 처리하는지 정기적으로 감독합니다.
                                        </p>
                                        <div class="box">
                                            <p>
                                                위탁이란? <br>
                                                개인정보처리자의 업무 목적을 수행하기 위해 제휴사에게 개인정보 처리 업무를 맡기는 것을 의미합니다.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- --- -->


                            <li class="top" id="policy3">
                                <div class="spacer"></div>
                                <h3>③ 보유기간 및 파기</h3>
                            </li>
                            <li>
                                <div class="row-group">
                                    <p class="title">1) 보유기간</p>
                                    <div class="content">
                                        <p>
                                            아로아랩스는 이용자에게 동의 받은 ‘이용 및 보유기간’ 또는 관련 법령에 따라 개인정보를 보유하고 있습니다. <br>
                                            서비스마다 수집되는 개인정보에 대한 보유기간은 <a href="#policy1" class="scroll-link">
                                                <① 개인정보 수집과 이용>
                                            </a>에 기재된 내용을 확인할 수
                                            있습니다. 관련 법령에 따른 보유기간은 다음과 같습니다.
                                        </p>

                                        <table>
                                            <colgroup>
                                                <col width="50%">
                                                <col width="50%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>구분</th>
                                                    <th>보유기간</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        개인정보의 조회를 목적으로 수집된 개인정보
                                                    </td>
                                                    <td>
                                                        수집ㆍ이용에 대한 동의일로부터 고객에 대한 신용정보 제공ㆍ 조회 동의의 효력 기간까지
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        상품 및 서비스 홍보 및 판매 권유 등과 관련한 개인정보
                                                    </td>
                                                    <td>
                                                        수집ㆍ이용에 관한 동의일로부터 동의 철회일까지
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        광고/마케팅 수신동의 여부
                                                    </td>
                                                    <td>
                                                        수집ㆍ이용에 관한 동의일로부터 동의 철회일까지
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row-group">
                                    <p class="title">2) 파기</p>
                                    <div class="content">
                                        <p>(1) 파기 절차</p>
                                        <p>파기 사유가 발생한 개인정보를 선정하고, 다음 사항에 대해 지체 없이(5일 이내) 파기합니다.</p>
                                        <div class="box mb24">
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">1.</p>
                                                <p>
                                                    개인정보 수집・이용에 대한 동의를 철회하는 경우
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">2.</p>
                                                <p>
                                                    수집ㆍ이용 목적이 달성된 경우
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">3.</p>
                                                <p>
                                                    이용 및 보유기간이 종료된 경우
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">4.</p>
                                                <p>
                                                    개인정보가 불필요하게 되었을 경우(해당 서비스의 폐지, 사업의 종료 등)
                                                </p>
                                            </div>
                                        </div>

                                        <p>
                                            위의 경우가 발생했음에도, 관련 법령에 따라 계속 보존해야 하는 경우에는 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여
                                            보존합니다.
                                        </p>
                                        <p>
                                            관련 법령 및 회사 내부 방침에 따른 보존기간
                                        </p>
                                        <table>
                                            <colgroup>
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                                <col width="25%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>기준</th>
                                                    <th>구분</th>
                                                    <th>보유기간</th>
                                                    <th>관련 법령/보존 근거</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        관련 법령
                                                    </td>
                                                    <td>
                                                        소비자 불만 또는 분쟁처리에 관한 기록
                                                    </td>
                                                    <td>
                                                        3년
                                                    </td>
                                                    <td>
                                                        전자상거래법 제6조
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        관련 법령
                                                    </td>
                                                    <td>
                                                        표시ㆍ 광고에 관한 기록
                                                    </td>
                                                    <td>
                                                        6개월
                                                    </td>
                                                    <td>
                                                        전자상거래법 제6조
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        회사 내부 방침
                                                    </td>
                                                    <td>
                                                        부정 이용 기록(규정 위반 기록, 비정상적인 서비스 이용 기록 등)
                                                    </td>
                                                    <td>
                                                        10년
                                                    </td>
                                                    <td>
                                                        아로아랩스 부정 사용 방지
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>(2) 파기 방법</p>
                                        <p>
                                            전자적 파일 형태로 저장된 개인정보는 관련 법령에 따라 복구되지 않도록 파기하며, 종이 문서에 기록된 개인정보는 세절하는 방법으로
                                            파기합니다.
                                        </p>
                                    </div>
                                </div>
                            </li>

                            <!-- //// -->

                            <li class="top" id="policy4">
                                <div class="spacer"></div>
                                <h3>④ 개인정보의 안전성 확보조치</h3>
                                <p>
                                    아로아랩스는 개인정보 관리체계의 수립과 지속적인 개선을 위해 노력하고 있으며, 개인정보의 안전성 확보를 위해 다음과 같은 노력을 하고 있습니다.
                                </p>
                            </li>
                            <li>
                                <div class="row-group">
                                    <p class="title">1) 관리적 노력</p>
                                    <div class="content">
                                        <div class="policy-num-wrap">
                                            <p class="circle-num">💡</p>
                                            <p>
                                                개인정보의 안전한 처리를 위해 관리적인 노력을 하고 있습니다.
                                            </p>
                                        </div>
                                        <div class="box">
                                            내부관리계획을 수립 및 시행, 개인신용정보 보호 교육 및 캠페인을 통해 직원들의 개인정보보호 인식 제고 활동 진행
                                        </div>
                                    </div>
                                </div>
                                <div class="row-group">
                                    <p class="title">2) 기술적 노력</p>
                                    <div class="content">
                                        <div class="policy-num-wrap">
                                            <p class="circle-num">💡</p>
                                            <p>
                                                불법적인 접근을 차단과 접속기록의 위조・변조를 방지 등을 위해 기술적인 노력을 하고 있습니다.
                                            </p>
                                        </div>
                                        <div class="box">
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">1.</p>
                                                <p>
                                                    개인정보처리시스템에 대한 접근 권한 관리
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">2.</p>
                                                <p>
                                                    침입차단 시스템 및 침입탐지 시스템의 설치 및 운영
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">3.</p>
                                                <p>
                                                    외부 인터넷망 차단(망 분리)
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">4.</p>
                                                <p>
                                                    안전한 비밀번호 관리(비밀번호 생성 방법 및 변경 주기 등의 기준 설정 및 운영)
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">5.</p>
                                                <p>
                                                    접속 로그 기록 관리
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">6.</p>
                                                <p>
                                                    개인정보를 암호화하여 안전하게 저장 및 전송
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">7.</p>
                                                <p>
                                                    백신 소프트웨어 설치 및 주기적 갱신 및 점검 조치
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-group">
                                    <p class="title">3) 물리적 노력</p>
                                    <div class="content">
                                        <div class="policy-num-wrap">
                                            <p class="circle-num">💡</p>
                                            <p>
                                                개인정보를 보호하기 위해 전산실・자료보관실 등을 접근통제 하며 물리적인 노력을 하고 있습니다.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <!-- //// -->

                            <li class="top" id="policy5">
                                <div class="spacer"></div>
                                <h3>⑤ 정보주체와 법정대리인의 권리・의무 행사 방법</h3>
                                <p>
                                    정보주체는 언제든지 다음 사항의 개인정보 보호 관련 권리를 행사할 수 있습니다.
                                </p>
                                <div class="box">
                                    <div class="policy-num-wrap">
                                        <p class="circle-num">1.</p>
                                        <p>개인정보 열람 요구 및 통지 청구</p>
                                    </div>
                                    <div class="policy-num-wrap">
                                        <p class="circle-num">2.</p>
                                        <p>오류 등이 있을 경우 정정 요구</p>
                                    </div>
                                    <div class="policy-num-wrap">
                                        <p class="circle-num">3.</p>
                                        <p>삭제 요구 및 동의 철회 요구</p>
                                    </div>
                                    <div class="policy-num-wrap">
                                        <p class="circle-num">4.</p>
                                        <p>처리정지 요구</p>
                                    </div>
                                    <div class="policy-num-wrap">
                                        <p class="circle-num">5.</p>
                                        <p>신용 정보 이용 및 제공 사실 통보 요구</p>
                                    </div>
                                </div>

                                <div class="inner-wrap ml12">
                                    <div class="policy-num-wrap">
                                        <p class="circle-num">•</p>
                                        <p>
                                            아로아랩스는 정보주체 이외로부터 수집한 개인정보를 처리하는 때에는 정당한 사유가 없는 한 정보주체의 요구가 있는 날로부터 3일 이내에
                                            수집 출처, 처리 목적,
                                            개인정보 처리의 정지를 요구할 권리가 있다는 사실을
                                            정보주체에게 알려 드립니다.
                                        </p>
                                    </div>
                                    <div class="policy-num-wrap">
                                        <p class="circle-num">•</p>
                                        <p>
                                            정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 아로아랩스는 정정 또는 삭제를 완료할 때까지 개인정보를 이용하거나
                                            제공하지 않습니다.
                                        </p>
                                    </div>
                                    <div class="policy-num-wrap">
                                        <p class="circle-num">•</p>
                                        <p>
                                            권리 행사는 회사에 대해 서면(우편), 전화, 이메일, FAX, 문의, 대면 상담 등을 통하여 할 수 있습니다.
                                        </p>
                                    </div>
                                    <div class="policy-num-wrap">
                                        <p class="circle-num">•</p>
                                        <p>
                                            아로아랩스는 개인정보 보호법 제20조 제4항 각 호에 근거하여 정보주체의 요구를 거부하는 경우에는 정당한 사유가 없는 한 정보주체의
                                            요구가 있은 날로부터 3일 이내에
                                            그 거부의 근거와 사유를 정보주체에게 알려
                                            드립니다.
                                        </p>
                                    </div>

                                </div>
                            </li>

                            <li>
                                <div class="row-group">
                                    <div class="policy-num-wrap title">
                                        <p class="circle-num">2)</p>
                                        <p>
                                            만 14세 미만 아동의 개인정보 처리에 관한 사항
                                        </p>
                                    </div>
                                    <div class="content">
                                        <p>
                                            만 14세 미만 아동에게 개인정보를 수집할 때는 법정 대리인의 동의를 얻고 최소한의 개인정보를 수집하고 있어요. 만 14세 미만 아동에게
                                            해당하지 않는 필수 서비스의
                                            경우, 별도 개인정보를 수집 및 이용하지
                                            않습니다.
                                        </p>
                                        <p>
                                            만 14세 미만 아동에 관한 개인정보의 열람 등 요구는 법정대리인이 직접 해야 하며, 만 14세 이상의 미성년자는 개인정보에 관하여
                                            미성년자 본인이 권리를 행사하거나
                                            법정대리인을 통하여 권리를 행사할 수 있습니다.
                                        </p>
                                        <p>
                                            아동에게 법정 대리인의 성명, 관계, 연락처와 같은 최소한의 정보를 요구할 수 있으며, 다음 중 하나의 방법으로 적법한 법정대리인이 동의
                                            했는지 확인합니다.
                                        </p>

                                        <div class="box">
                                            <p>
                                                1. 법정대리인이 인터넷 사이트를 통해 동의 여부 표시할 경우
                                            </p>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">-</p>
                                                <p>
                                                    개인정보처리자가 법정대리인의 휴대전화 문자 메시지로 동의 여부 표시를 확인했음을 알림
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap">
                                                <p class="circle-num">-</p>
                                                <p>
                                                    법정대리인의 신용카드·직불카드 등의 카드 정보를 제공
                                                </p>
                                            </div>
                                            <div class="policy-num-wrap mb12">
                                                <p class="circle-num">-</p>
                                                <p>
                                                    법정대리인의 휴대전화 본인인증 등을 통해 본인 여부를 확인
                                                </p>
                                            </div>

                                            <p>
                                                2. 동의 내용이 적힌 서면을 법정대리인이 직접 발급하거나, 우편 또는 팩스를 통하여 전달할 경우
                                            </p>
                                            <div class="policy-num-wrap mb12">
                                                <p class="circle-num">-</p>
                                                <p>
                                                    법정대리인이 동의 내용에 대하여 서명날인 후 제출
                                                </p>
                                            </div>

                                            <p>
                                                3. 법정대리인에게 동의 내용이 적힌 전자우편을 발송하는 경우
                                            </p>
                                            <div class="policy-num-wrap mb12">
                                                <p class="circle-num">-</p>
                                                <p>
                                                    법정대리인으로부터 동의의 의사표시가 적힌 전자우편을 전송받는 방법
                                                </p>
                                            </div>

                                            <p>
                                                4. 법정대리인에게 전화를 통하여 동의 내용을 알리는 경우
                                            </p>
                                            <div class="policy-num-wrap mb12">
                                                <p class="circle-num">-</p>
                                                <p>
                                                    인터넷 주소 등 동의 내용을 확인할 수 있는 방법을 안내하고 재차 전화 통화를 통하여 동의를 얻는 방법
                                                </p>
                                            </div>

                                            <p>
                                                5. 그 밖에 위와 준하는 방법으로 법정대리인에게 동의 내용을 알리고 동의의 의사표시를 확인하는 방법
                                            </p>

                                        </div>

                                    </div>
                                </div>
                            </li>

                            <!-- ---- -->

                            <li class="top" id="policy6">
                                <div class="spacer"></div>
                                <h3>⑥ 개인정보 고충처리 및 문의 부서</h3>
                            </li>
                            <li>
                                <div class="row-group">
                                    <div class="policy-num-wrap title">
                                        <p class="circle-num">1)</p>
                                        <p>
                                            개인신용정보 열람 청구 및 관련 고충처리 담당부서
                                        </p>
                                    </div>
                                    <div class="content">
                                        <p>
                                            아로아랩스 서비스를 이용하시면서 발생한 모든 고충(개인정보보호 관련 문의, 불만 처리, 피해 구제 등)에 관한 사항은 개인정보보호 책임자
                                            및 아래의 담당 부서로
                                            문의해주시기 바랍니다.
                                        </p>
                                        <table>
                                            <colgroup>
                                                <col width="33%">
                                                <col width="33%">
                                                <col width="33%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>부서명</th>
                                                    <th>담당자</th>
                                                    <th>연락처</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        MM팀(운영팀)
                                                    </td>
                                                    <td>
                                                        MM팀(운영팀)
                                                    </td>
                                                    <td>
                                                        <div class="policy-num-wrap">
                                                            <p class="circle-num">[전화]</p>
                                                            <p>
                                                                02.777.2536
                                                            </p>
                                                        </div>
                                                        <div class="policy-num-wrap">
                                                            <p class="circle-num">[이메일]</p>
                                                            <p>
                                                                support@aoroa.ai
                                                            </p>
                                                        </div>
                                                        <div class="policy-num-wrap">
                                                            <p class="circle-num">[위치]</p>
                                                            <p>
                                                                서울특별히 마포구 연남로 73-3 아로아랩스
                                                            </p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row-group">
                                    <p class="title">
                                        2) 권익침해 구제방법
                                    </p>
                                    <div class="content">
                                        <p>
                                            아래의 기관을 통해 개인정보 침해에 대한 피해 구제, 상담 등을 문의할 수 있습니다.
                                            아래의 기관은 아로아랩스와는 별개의 기관으로서, 아로아랩스의 자체적인 개인정보 불만 처리, 피해 구제 결과에 만족하지 못하시거나 보다
                                            자세한 도움이 필요하면 문의해
                                            주시기 바랍니다.
                                        </p>
                                        <table>
                                            <colgroup>
                                                <col width="33%">
                                                <col width="33%">
                                                <col width="33%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>기관</th>
                                                    <th>연락처</th>
                                                    <th>사이트</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        개인정보침해 신고센터
                                                    </td>
                                                    <td>
                                                        (국번없이) 118
                                                    </td>
                                                    <td>
                                                        <a href="https://privacy.kisa.or.kr">privacy.kisa.or.kr</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        개인정보 분쟁조정위원회
                                                    </td>
                                                    <td>
                                                        1833-6972
                                                    </td>
                                                    <td>
                                                        <a
                                                            href="https://www.kopico.go.kr/main/main.do">www.kopico.go.kr</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        대검찰청 사이버수사과
                                                    </td>
                                                    <td>
                                                        (국번없이) 1301
                                                    </td>
                                                    <td>
                                                        <a
                                                            href="https://www.spo.go.kr/site/spo/main.do">www.spo.go.kr</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        경찰청 사이버안전국(경찰민원콜센터)
                                                    </td>
                                                    <td>
                                                        (국번없이) 182
                                                    </td>
                                                    <td>
                                                        <a
                                                            href="https://ecrm.police.go.kr/minwon/main">ecrm.cyber.go.kr</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </li>

                            <!-- /// -->

                            <li class="top" id="policy7">
                                <div class="spacer"></div>
                                <h3>⑦ 개인정보 처리 방침 시행일 및 변경 사항</h3>
                            </li>

                            <li>
                                <p>
                                    아로아랩스는 비교표를 통해 개인정보 처리 방침 개정 전과 후를 비교하여 공개하고 있습니다.
                                </p>
                                <div class="row-group drop-row-group">
                                    <span>이 <개인정보 처리 방침> 은</span>


                                    <div class="dropdown">

                                        <button id="version2" data-toggle="dropdown"
                                            class="btn btn-secondary dropdown-toggle" data-target="menu2">
                                            2024. 05. 30.
                                        </button>

                                        <div class="wrap">
                                            <div class="dropdown-menu" aria-labelledby="version2" id="menu2">
                                                <a class="dropdown-item" href="">
                                                    2024. 05. 30.
                                                </a>
                                            </div>
                                            <span>
                                                부터 적용됩니다.
                                            </span>
                                        </div>

                                    </div>
                                    <!-- <span>
                                                                    부터 적용됩니다.
                                                                </span> -->
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button class="confirm-btn">확인하기</button>
    </div>
</div>

<!-- Modal 2 -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <img class="close" src="images/close-icon.png" alt="">
        <div class="scroll-wrap">
            <div class="contant">
                <div class="policy">
                    <div class="container">
                        <div class="policy-top">
                            <h2> 광고성 정보 수신 동의 </h2>
                        </div>

                        <ul class="policy-list">
                            <p>
                                ㈜아로아랩스는 정보통신망의 이용촉진 및 정보보호 등에 관한 법률 제50조 제1항에 따라 광고성 정보를 전송하기 위해 수신자의 사전 동의를 받고 있으며, 수신
                                동의여부를 정기적으로
                                확인합니다.
                                광고성 정보 수신에 동의하실 경우, ㈜아로아랩스가 제공하는 이벤트/혜택 등 다양한 정보 및 기타 유용한 광고성 정보가 전자적 전송매체(e-mail, 문자)을
                                통해 발송됩니다.
                                <br>
                                본 광고성 정보수신 동의 항목은 선택사항이므로 동의를 거부하는 경우에도 ㈜아로아랩스 서비스의 이용에는 영향이 없습니다.
                                <br>
                                다만 거부 시 동의를 통해 제공 가능한 각종 혜택 이벤트 안내를 받아 보실 수 없습니다.
                                수신동의 의사표시 이후에도 고객센터를 통해 이용자의 의사에 따라 수신동의 상태를 변경(동의/철회)할 수 있습니다.
                            </p>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="confirm-btn">확인하기</button>
</div>

<!-- Modal 3 -->
<div id="modal3" class="modal">
    <div class="modal-content">
        <img class="close" src="images/close-icon.png" alt="">
        <div class="scroll-wrap">
            <div class="contant">
                <div class="policy">
                    <div class="container">
                        <div class="policy-top">
                            <h2> 광고성 정보 수신 동의 </h2>
                        </div>

                        <ul class="policy-list">
                            <p>
                                ㈜아로아랩스는 정보통신망의 이용촉진 및 정보보호 등에 관한 법률 제50조 제1항에 따라 광고성 정보를 전송하기 위해 수신자의 사전 동의를 받고 있으며, 수신
                                동의여부를 정기적으로
                                확인합니다.
                                광고성 정보 수신에 동의하실 경우, ㈜아로아랩스가 제공하는 이벤트/혜택 등 다양한 정보 및 기타 유용한 광고성 정보가 전자적 전송매체(e-mail, 문자)을
                                통해 발송됩니다.
                                <br>
                                본 광고성 정보수신 동의 항목은 선택사항이므로 동의를 거부하는 경우에도 ㈜아로아랩스 서비스의 이용에는 영향이 없습니다.
                                <br>
                                다만 거부 시 동의를 통해 제공 가능한 각종 혜택 이벤트 안내를 받아 보실 수 없습니다.
                                수신동의 의사표시 이후에도 고객센터를 통해 이용자의 의사에 따라 수신동의 상태를 변경(동의/철회)할 수 있습니다.
                            </p>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <button class="confirm-btn">확인하기</button>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Get all modal buttons
        const btns = document.querySelectorAll(".policy-view-btn");

        // When the user clicks on a button, open the corresponding modal
        btns.forEach(btn => {
            btn.addEventListener('click', () => {
                const modalId = btn.getAttribute('data-modal');
                const modal = document.getElementById(modalId);
                modal.style.display = "block";
                document.body.classList.add('no-scroll');

                // Get the <span> element that closes the modal
                const span = modal.querySelector(".close");

                // When the user clicks on <span> (x), close the modal
                span.onclick = function () {
                    modal.style.display = "none";
                    document.body.classList.remove('no-scroll');
                }

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                        document.body.classList.remove('no-scroll');
                    }
                }
            });
        });

        // Get all confirm buttons
        const confirmBtns = document.querySelectorAll(".confirm-btn");

        // When the user clicks on a confirm button, close the modal
        confirmBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                const modal = btn.closest('.modal');
                modal.style.display = "none";
                document.body.classList.remove('no-scroll');
            });
        });
    });
</script>


<!-- 
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
            // Get all links with data-modal attribute
            const modalLinks = document.querySelectorAll("a[data-modal]");

            // Function to close the modal
            const closeModal = (modal) => {
                modal.style.display = "none";
                document.body.classList.remove('no-scroll');
            };

            // When the user clicks on a link, open the corresponding modal
            modalLinks.forEach(link => {
                link.addEventListener('click', () => {
                    const modalId = link.getAttribute('data-modal');
                    const modal = document.getElementById(modalId);
                    modal.style.display = "block";
                    document.body.classList.add('no-scroll');

                    // Get the <img> element that closes the modal
                    const span = modal.querySelector(".close");

                    // When the user clicks on <img> (x), close the modal
                    span.onclick = () => closeModal(modal);

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = (event) => {
                        if (event.target == modal) {
                            closeModal(modal);
                        }
                    };
                });
            });
        });
</script> -->