<nav class="header-wrap">
    <div class="container">

        <a class="main-logo" href="/index.html">
            <img src="/images/AoroaLabs_logo_w.svg" alt="">
        </a>

        <div class="inner-wrap">
            <nav class="nav">
                <ul class="gnb">
                    <li><a href="/company.html">COMPANY</a></li>
                    <li><a href="/horizon.html">HORIZON</a></li>
                    <li class="btm-gnb">
                        <a href="/careers.html">CAREERS </a>
                        <div class="inner-gnb">
                            <a href="/careers.html">TEAM AOROA</a>
                            <a href="/recruit.html">RECRUIT</a>
                        </div>
                    </li>
                    <li><a href="/notice.html">NOTICE</a></li>
                    <li><a href="/contact.html">CONTACT</a></li>
                </ul>
            </nav>
        </div>

        <button class="menubar" id="hamberger">
            <i class="xi-bars icon"></i>
        </button>
    </div>
</nav>

<!-- MB 햄버거 menu -->
<div class="mb-hd">
    <div class="mb-hd-wrap">
        <div class="mb-hd-box">
            <div class="scoll-wrap">
                <ul class="mb-nav">

                    <li class="mb-hd-top">
                        <a class="main-logo" href="/index.html">
                            <img src="/images/AoroaLabs_logo_w.svg" alt="아로아랩스">
                        </a>
                        <i class="close-btn xi-close" id="mb-close"></i>
                    </li>


                    <li>
                        <a class="mb-sm-nav-top" href="/company.html">
                            <div class="wrap">
                                <p>COMPANY</p>
                                <i class="xi-angle-right"></i>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a class="mb-sm-nav-top" href="/horizon.html">
                            <p>HORIZON</p>
                            <i class="xi-angle-right"></i>
                        </a>
                    </li>

                    <li>
                        <div class="mb-sm-nav-top in-nav">
                            <p>CAREERS</p>
                            <i class="xi-angle-right"></i>
                        </div>
                        <div class="mb-sm-nav">
                            <a href="/careers.html">TEAM AOROA</a>
                            <a href="/recruit.html">RECRUIT</a>
                        </div>
                    </li>

                    <li>
                        <a class="mb-sm-nav-top" href="/contact.html">
                            <p>CONTACT</p>
                            <i class="xi-angle-right"></i>
                        </a>
                    </li>

                </ul>

                <div class="footer">

                    <div class="le-wrap">
                        <div class="inner-wrap">
                            <a class="logo-wrap" href="#">
                                <img src="/images/AoroaLabs_logo_f.svg" alt="아로아랩스">
                            </a>
                            <p class="txt pc">Aoroa Co.,Ltd. All Rights Reserved.</p>
                        </div>
                        <p class="txt info-txt pc">
                            (주) 아로아랩스 <br>
                            서울특별시 마포구 연남로 73-3 아로아랩스 <br>
                            사업자 등록번호: 284-86-01917 | 대표: 김재헌
                        </p>
                    </div>

                    <div class="ri-wrap">
                        <a class="link-txt" href="/faq.html">FAQ</a>
                        <a class="link-txt policy-view-btn" href="/policy.html">서비스 이용약관</a>
                        <a class="link-txt policy-view-btn" href="/privacy.html">개인정보처리방침</a>
                        <a class="link-txt policy-view-btn" href="/agreePolicy.html">광고성 정보 수신동의</a>
                    </div>

                    <p class="txt info-txt mb">
                        (주) 아로아랩스 <br>
                        서울특별시 마포구 연남로 73-3 아로아랩스 <br>
                        사업자 등록번호: 284-86-01917 | 대표: 김재헌
                    </p>

                    <p class="txt mb">Aoroa Co.,Ltd. All Rights Reserved.</p>

                </div>


            </div>
        </div>
    </div>
</div>

</nav>