<!-- 마이페이지 공통 왼쪽 메뉴입니다. -->

<a class="title" href="/myPage.html">마이페이지</a>
<ul class="navList">
    <li class="navListItem">
        <div class="navListItem">
            <p class="title">나의 정보</p>
            <a class="navTitle" href="/myInfo.html">회원정보 수정</a>
        </div>
    </li>
    <li class="navListItem">
        <div class="navListItem">
            <p class="title">나의 데이터</p>
            <a class="navTitle" href="/myFavorite.html">관심 데이터</a>
            <a class="navTitle" href="/myData.html">다운로드 데이터</a>
        </div>
    </li>
    <li class="navListItem">
        <div class="navListItem">
            <p class="title">고객지원</p>
            <a class="navTitle" href="/notice.html">공지사항</a>
            <a class="navTitle" href="/faq.html">자주하는 질문</a>
            <a class="navTitle lineTitle" href="/policy.html">이용정책</a>
        </div>

    </li>
</ul>
<button class="logOutBtn">로그아웃 <i class="xi-log-out"></i></button>