<div class="pagination col-wrap">
    <a href="" class="page-btn nav-btn prev-btn">
        <i class="xi-arrow-left"></i>
    </a>
    <a href="" class="page-btn active">
        1
    </a>
    <a href="" class="page-btn">
        2
    </a>
    <a href="" class="page-btn">
        3
    </a>
    <a href="" class="page-btn">
        4
    </a>
    <a href="" class="page-btn">
        5
    </a>
    <a href="" class="page-btn nav-btn next-btn">
        <i class="xi-arrow-right"></i>
    </a>
</div>